/* You can add global styles to this file, and also import other style files */

*,
html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  min-height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: inherit;
  position: relative;
  background-color: dodgerblue;

  font-family: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 3rem 0;
}

.Title {
  font-size: 2rem;
  font-weight: bold;
  color: white;
  text-align: center;
  margin-bottom: 1rem;
}

.Board {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  border-collapse: collapse;
  padding: 1rem;
  margin: 1rem;
  background-color: white;
  overflow: hidden;

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);
  border-radius: 5px;

  box-sizing: inherit;
  cursor: pointer;
  position: relative;

  &:focus {
    outline: none;
  }

}

.Cell {
  padding: 1rem;
  margin: 0.05rem;
  border: 1px solid black;
  width: 100px;
  height: 100px;
  display: inline-block;

  transition: background-color 0.2s ease;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  font-size: 24px;
  line-height: 30px;

  &:hover {
    background-color: lightgray;
  }

  &-lit {
    background-color: cornflowerblue;
    color: black;

    &:hover {
      background-color: darkblue;
    }

    &:hover::after {
      opacity: 1;
    }
  }
}

@font-face {
  font-family: neon;
  src: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/707108/neon.ttf);
}

.container {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}

.neon {
  font-family: neon;
  color: #33040e;
  font-size: 9vw;
  line-height: 9vw;
  text-shadow: 0 0 3vw #F40A35;
}

.flux {
  font-family: neon;
  color: #061547;
  font-size: 9vw;
  line-height: 9vw;
  text-shadow: 0 0 3vw #2356FF;
}